
.confirmationModal .ant-modal-content {
    padding: 10px;
    border-radius: 20px;
    border: red solid 10px;
}

.confirmationModal .ant-modal-footer {
    /* Additional styles for the confirmation modal footer */
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    border-top: none;
}

.generalModal .ant-modal-content {
    padding: 10px;
    border-radius: 20px;
    border: #b0c6b1 solid 10px;
}

.generalModal .ant-modal-footer {
    /* Additional styles for the general modal footer */
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    border-top: none;
}

.addNewBookModal .ant-modal-content {
    padding: 10px;
    border-radius: 20px;
    border: #b0c6b1 solid 10px;
}

.addNewBookModal .ant-modal-footer {
    /* Additional styles for the Add New Book modal footer */
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    border-top: none;
}